@functions {
    public object Model { get; set; }
}

<?php
    $title = "PSMD Data Index";
    $cssFiles = array("style.css");
?>

<h2>Pokémon Super Mystery Dungeon Data</h2>
<p>This website is dedicated to showing some of the internal data for Pokémon Mystery Dungeon.</p>
<p>Its main feature is showing the IDs in Decimal and Hex (big and little endian) for Pokémon, Moves, and Abilities, aiding ROM researchers in manually editing some of the binary files.  In addition, it also contains some practical information, like which moves does Riolu know through level up and what stats Poochyena will have at level 17.</p>
<p></p>
<p>The following data is available:</p>
<ul>
    <li><a href="pokemon/">Pokemon</a></li>
    <li><a href="moves/">Moves</a></li>
    <li><a href="abilities/">Abilities</a></li>
    <li><a href="types/">Types</a></li>
</ul>