@functions {
    public object Model { get; set; }
}

<?php
    $title = "Super";
    $cssFiles = array("style.css");
?>

<h2>Pokémon Super Mystery Dungeon Data</h2>
<p>The following data is available:</p>
<ul>
    <li><a href="pokemon/">Pokémon</a></li>
    <li><a href="moves/">Moves</a></li>
    <li><a href="abilities/">Abilities</a></li>
    <li><a href="types/">Types</a></li>
</ul>
<p>The raw data can be found <a href="data.json">here</a>, and the schema can be found on <a href="https://github.com/evandixon/MysteryDungeon-RawDB/blob/master/MysteryDungeon-RawDB/Models/PSMD/PsmdDataCollection.cs" target="_blank">GitHub</a>.</p>