@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        Project Pokémon Pokedex
    </h1>
    <h3>
        Pokémon Mystery Dungeon: Explorers of Sky
    </h3>
    <ul>
        @Html.ActionLink("Pokémon", "Index", "EosPokemon")
    </ul>
</div>